@media (max-width:320px){
body{
font-size: 25px;
}
#vbox{
  max-width: 600px;
  min-width: 50px;
  margin: 0 auto;
  background-image: url("subtle_grunge.jpg");
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;

}
img{
  display: none;
}
  #homepic {
    -webkit-shape-outside: square(50%);
    shape-outside: square;
    border-radius: 50%;
    float: top;
    margin-right; 20px;
    width: 250px;
    display:inline-block;
}
#projbox{
  max-width: 600px;
  min-width: 50px;
  margin: 0 auto;
  background-image: url("subtle_grunge.jpg");
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#border {
  width: 250px;
  text-align: center;
  margin-right: 8em;
  margin-left: 1em;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
}
h1{
  font-family: 'Josefin Slab', serif;
}

a:hover {
  color: rgb(72,0,23);
}
a:visited {
  color:rgb(208,88,1);
}

a {
  color:rgb(140,107,53);}

h1,h2,h3{font-family: 'Josefin Slab', serif;
font-weight: 25;
font-style: italic;}

header{
  text-align: center;
}

img{
  margin-left: 2em;
  margin-right: 2em;
  border:2px solid black;
}
nav ul li{
  list-style: none;
  display: block;
}
#navhome li{
  margin-bottom: 30px;
  display:inline;

}
.mobile{
  display: inline-block;

}
.web{
  display:none;
}
}
