@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:700italic,400);
@import url(https://fonts.googleapis.com/css?family=Oxygen);
body{

background-color: rgb(227,	215,	188		);

font-family: "Oxygen", serif;
font-weight: 400;
font-size: 18px;
line-height: 1.5;
}
#vbox{
  max-width: 800px;
  min-width: 50px;
  margin-left: 200px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  background-image: url("subtle_grunge.jpg");
  text-align: center;
}
ol li{
  list-style: none;
}
#projbox {
  max-width: 800px;
  min-width: 50px;
  margin-left: 200px;
  margin-right: 20px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url("subtle_grunge.jpg");
  text-align: center;
}
#box{
  max-width: 600px;
  min-width: 50px;
  margin: 0 auto;
  background-image: url("subtle_grunge.jpg");
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#hh {
  text-align: left;
}
  #homepic {
    -webkit-shape-outside: circle(50%);
    shape-outside: circle(50%);
    border-radius: 50%;
    float: left;
    margin-right; 20px;
    width: 250px;
}
address {
  padding-bottom: 1em;
}
h1{
  font-family: 'Josefin Slab', serif;
  text-align:center;
}

a:hover {
  color: rgb(72,0,23);
}
a:visited {
  color:rgb(208,88,1);
}

a {
  color:rgb(140,107,53);}

h1,h2,h3{font-family: 'Josefin Slab', serif;
font-weight: 700;
font-style: italic;}

header{
  text-align: center;
}

img{
  margin-left: 2em;
  margin-right: 2em;
  border:2px solid black;
}
nav ul li{
  list-style: none;
  display: inline;
  margin-right: 20px;
}
nav {
    text-align: center;
}
#navhome li{
  margin-bottom: 30px;
  display:block;
  text-align: left;
}
#homelink {
  width: 550px;
  text-align: center;
  margin-right: 8em;
  margin-left: 1em;
}
#border {
  width: 550px;
  text-align: center;
  margin-right: 8em;
  margin-left: 1em;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
}
#contactlinks ul li{
  list-style: none;
  display:inline;
  margin-right: 100px;
  margin-top: 100px;
}
section {
  border-bottom: 1px solid #222;
  margin-left: 2em;
}

footer{
  margin-left: 2em;
  padding-bottom:1em;
}
.mobile{
  display: none;
}
